<!DOCTYPE html>
<html>
<head>
    <title>Convert Video to Audio</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Convert Video to Audio</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="video_file">Select a video file:</label>
                <input type="file" name="video_file" id="video_file" class="form-control-file">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Convert</button>
        </form>
    </div>
    <!-- Include Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
